<h1><%= @list.title %></h1>
<p>
	My Incomplete Tasks:
<%= render partial: 'lists/task', collection: @list.tasks %>

</p>
  Add a Task:
	<%= render partial: 'tasks/form' %><br><br>
<%= link_to "<< Back to Lists Index", lists_path %>
